.item-div-category {
    border: 2px solid black;
    width: 100%;
    border-radius: 5px;
    padding-bottom: 6vmin;
    color: white;
}

.selected {
    box-shadow: 10px 5px 5px black;
}

.item-div-category > * {
    margin-top: .5vmin;
}

.item-0{
    background-color: gold;
}

.item-1{
    background-color: blue;
}

.item-2{
    background-color: green;
}

.item-3{
    background-color: red;
}